body { 

    background-color:skyblue;

}

.subrayado {
    text-decoration : underline
}

h1{
    color: blue;
    font-size: 25px;
    text-transform: uppercase;
}

h2{
    color: blueviolet;
}

.cursivaNegrita {
    font-style: oblique;
    font-weight: bold;
}

.negrita {
    font-weight: bold;
}

.italicRoja{
font-style:italic;
color: red;
}

.countainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.bloqueDiv1{
    text-align: center;
    text-decoration: underline;
    width: auto;

}

.bloqueDiv2{
    text-align: center;
    text-decoration: underline;
    width: auto;

}

.bloqueDiv3{
    text-align: center;
    text-decoration: underline;
    width: auto;

}

.recuadroImagenes{
    border: 1px;
    border-style: solid;
    border-color: brown;
}
