
body { 

    background-color: beige;

}

.subrayado {
    text-decoration : underline
}

h1{
    color: blue;
    font-size: 25px;
    text-transform: uppercase;
}

h2{
    color: blueviolet;
}

h3{
    color: brown;
}