
.body{
    background-color: red;;
}

.loco{
  color: blue;
}

/* .button1{
   

} */



/* p.aviso {
    color:blue;
  }
  
  p .aviso {
    color:red;
  }
  
  p, .aviso {
    color:green;
  }


p{
    color: blue;
  }

  div{
     font-weight: bold;
  }

  span{
    color: cyan;
  }

  .destacada {
    color:green;
  }

  p.destacada {
    color:orange;
  }

  p#unico{
    color:red;
  } */